*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(images/background.png);
    background-size: cover;
    overflow: hidden;
    /* background-position: center; */
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container{
    background-color: red;
    position: absolute;
    top: 200px;
    right: -100px;
} */

img{
    width: 100%;
}

.custom-1{
    position: relative;
    /* right: -150px */
}

#scene{
    /* background-color: red; */
    position: absolute;
    right: -80px;
    bottom: -50px;
}